* {
    font-family: "Arial";
    background:	#FAFAFA;
}

/*** Titlebar properties ***/
.titleBar * {
    background:#EFF0F1;
}

.titleBar {
    margin-left: 35%;
    width: 30%;
}

.titleBar img {
    float:left;
    padding: 17px 15px 0 15px;
    width: 38px;
    height: 38px;
}

.titleBar h1 {
    color:#007FFF;
    line-height: 70px;
}

/*** Tab viewer properties ***/
/* Style the tab */
.tab {
    overflow: hidden;
    width: 312px;
    margin-left: 35%;
    background-color: #EFF0F1;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.1s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabContent {
    background: #EFF0F1;
    width: 30%;
    height: 345px;
    margin-left: 35%;
    display: none;
    position: relative;
}

/*** Settings page ***/
.settings {
    background: #EFF0F1;
}

.setting {
    text-align: right;
    font-weight: bold;
    font-size: 19px;
}

#settingsPage .settings tr td {
    background: #EFF0F1;
    padding: 30px 0 20px 10px;
}

.text {
    margin-left: 50px;
    text-align: right;
    width: 30px;
}

.check {
    margin-left: 50px;
    height: 20px;
    width: 20px;
}

#saveBtn {
    margin-left: 10px;
}

/*** All buttons ***/
.inputBtn {
    background: #007FFF;
    background-image: -webkit-linear-gradient(top, #007FFF, #007FFF);
    background-image: -moz-linear-gradient(top, #007FFF, #007FFF);
    background-image: -ms-linear-gradient(top, #007FFF, #007FFF);
    background-image: -o-linear-gradient(top, #007FFF, #007FFF);
    background-image: linear-gradient(to bottom, #007FFF, #007FFF);
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0px;
    font-family: Arial;
    color: #ffffff;
    font-size: 12px;
    padding: 6px 12px 6px 12px;
    text-decoration: none;
}

.inputBtn button:hover {
  background: #3cb0fd;
  text-decoration: none;
}

/*** All tables ***/
.urlList {
    border-collapse: separate;
    border-spacing: 100px 0;
    width: 100%;
    overflow:auto;
}

.urlList tr:nth-child(odd) td{background-color:#EFF0F1}

.urlList tr td{
    padding: 10px 0;
}

.urlList tr button {
    margin-top: 10px;
}

/*** Domain Page ***/
#addDomainBtn {
    position: absolute;
    margin-left: 10px;
    bottom: 10px;
}